@font-face {
   font-family: Bruno Ace;
   src: url(./fonts/bruno-ace/Bruno\ Ace\ Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


* {
    box-sizing: border-box;
}

body {
   font-size: 16px;
   font-weight: normal;
   font-family: 'Montserrat', sans-serif;
   margin: 0;
}

a,a:visited{text-decoration:none; color: #fff;}
a:hover{text-decoration:none; color: #fff}

.wrapper {
   margin: 0 auto;
   max-width: 1366px;
   min-width: 1366px;
   background-image: url(./img/background.png);
   background-repeat: no-repeat;
   padding: 0 33px;
}

.container {
   margin: auto;
   width: 1299px;
   
   /* background-color: rgba(255, 105, 0, 0.11);       */
   
}

.section_top {
   height: 701px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header {
height: 61px;
width: 1366px;
display: flex;
justify-content: space-between;
background-color: rgba(1, 2, 4, 0.9);
position: fixed;
padding: 0 33px;
z-index: 2;
}

.logo {
   width: 254px;
   display: flex;
   justify-content: space-between       ;
   align-items: center;
}

.logo h2 {
   color: #fff;
   font-family: Bruno Ace;
   font-weight: normal;
   font-size: 30px;
   line-height: 36px;
   margin: 0;
}

.phone {
   width: 225px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 600;
   font-size: 22px;
   line-height: 27px;
   text-align: center;
   letter-spacing: 0.1em;
   color: #fff;
}

.phone:hover a {
   text-shadow: #fff;
}

.st_maincard {
   width: 1164px;
   height: 300px;
   background-color: rgba(18, 51, 147, 0.93);
   border-radius: 35px;
   display: flex;
   align-items: center;
   margin-top: 170px;
   margin-top: 231px;
}

.st_maincard h1 {
   font-weight: bold;
   font-size: 60px;
   line-height: 81px;
   text-align: center;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   text-transform: uppercase;
}

.section_subtitle {
   width: 971px;
   height: 221px;
   margin: 90px auto;
}

.section_subtitle h2{
   font-weight: 600;
   font-size: 43px;
   line-height: 52px;
   text-align: center;
   letter-spacing: 0.15em;
   color: #000000;
   margin: 0;
}

.section_subtitle p {
   font-weight: bold;
   font-size: 63px;
   line-height: 77px;
   text-align: center;
   letter-spacing: 0.15em;
   color: #000000;
   margin: 0;
   margin-top: 30px;
}

.section_cards {
   height: 676px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}

.sc_card {
   width: 349px;
   height: 284px;
   margin-bottom: 108px;
   font-weight: 500;
   font-size: 22px;
   line-height: 27px;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

figure {
   overflow: hidden;
   width: 100%;
   height: 100%;
   margin: 0;
   margin-top: 23px;
}

.sc_card figure img {
   transform: scale(1);
   transition: 0.2s ease-in-out;
}

.sc_card figure:hover img {
   transform: scale(1.1);
}

.sc_card img {
   width: 100%;
   height: auto;
}

.section_quality {
   width: 1366px;
   height: 418px;
   background-color: #F7FBFF;
   position: relative;
   left: -33px;
   font-weight: bold;
   font-size: 68px;
   line-height: 83px;
   text-align: center;
   letter-spacing: 0.27em;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 186px;
   margin-bottom: 179px;
   z-index: 1;
}

.sq_text{
   color: #2272C5;
   text-transform: uppercase;
   width: 632px;
   height: 176px;
}

.section_brands {
   text-align: center;
}

.section_consultation {
   width: 1366px;
   height: 425px;
   background-color: #F8F8F8;
   position: relative;
   left: -33px;
   margin-top: 275px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sc_text h2 {
   width: 1030px;
   font-weight: 600;
   font-size: 43px;
   line-height: 61px;
   text-align: center;
   letter-spacing: 0.15em;
   color: #000000;
   margin: 0;
}

.sc_text h2:hover {
   opacity: 80%;
}

.footer {
   height: 61px;
   width: 1366px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #090B0E;
   padding: 0 33px;
   position: relative;
   left: -33px;
   margin-top: 185px;
   }

   .footer p {
      color: #fff;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.15em;
   }

